{% layout "layouts/base.liquid" %}

{% block content %}
<header>
<svg class="logo" xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 581.35 497.78"><defs><style>.cls-1{fill:#f9b233}.cls-1,.cls-2,.cls-3,.cls-4{stroke-width:0}.cls-2{fill:#a1c4e9}.cls-3{fill:#f39200}.cls-4{fill:#36a9e1}</style></defs><path d="M203.92 349.33c-48.6-53.72-84.71-118.71-105.37-188.17-8.36-29.63-16.87-60.33-12.74-91.56 3.82-29.84 23.09-59.63 53.64-67.17 39.41-10.04 76.15 13.01 107.1 34.16C350 106.74 432.02 208.8 475.92 326.1c10.85 29.05 16.96 60.61 14.48 91.73-.9 12.75-3.2 25.74-8.87 37.5-11.32 23.79-36.32 38.56-61.86 41.78-30.96 3.76-61.35-8.61-85.87-26.57 5.27 2.89 10.63 5.57 16.1 7.96 21.34 9.34 45.35 14.5 68.29 9.74 19.55-4.12 38.44-15.59 48-33.22 8.93-16.67 8.89-36.62 7.84-55.15-.8-11.45-2.62-22.79-5.48-33.88C434.5 254.31 354.54 146.67 263.18 74.73c-1.79-1.38-5.06-4.15-6.94-5.48-8.01-6.02-20.38-15.18-28.7-20.65-18.51-12.65-38.16-25.48-60.35-28.88-10.31-1.47-20.83-.92-30.48 2.95-19.69 8.03-31.4 28.84-34.92 49.4-4.92 31.3 3.63 63.23 11.36 94.3 17.75 66.24 49.08 128.48 90.76 182.97Z" class="cls-3"/><circle cx="231.09" cy="385.15" r="23.02" class="cls-4"/><circle cx="323.67" cy="467.19" r="8.03" class="cls-1"/><circle cx="323.67" cy="17.52" r="8.03" class="cls-2"/><circle cx="366.38" cy="39.92" r="12.68" class="cls-4"/><circle cx="292.52" cy="473.42" r="8.03" class="cls-4"/><circle cx="223.06" cy="97.99" r="8.03" class="cls-1"/><path d="M134.46 386.63c3.84 11.93 3.87 24.4 2.59 36.71-.52 4.08-1.23 8.16-2.59 12.24h-1c-3.64-11.95-3.94-24.41-2.65-36.71.51-4.08 1.23-8.16 2.65-12.24h1Z" class="cls-1"/><path d="M158.13 411.6c-11.78 3.84-24.11 3.87-36.26 2.59-4.03-.52-8.06-1.23-12.09-2.59v-1c11.8-3.64 24.11-3.94 36.26-2.65 4.03.51 8.06 1.23 12.09 2.65v1ZM450.89 59.2c-2.04 12.37-7.7 23.48-14.47 33.84-2.33 3.39-4.82 6.69-7.89 9.7l-.89-.46c2.22-12.29 7.65-23.51 14.41-33.87 2.32-3.39 4.82-6.7 7.95-9.67l.89.46Z" class="cls-1"/><path d="M460.54 92.23c-12.23-1.97-23.21-7.57-33.44-14.27-3.35-2.31-6.61-4.78-9.57-7.83l.46-.89c12.16 2.15 23.24 7.51 33.47 14.21 3.35 2.3 6.61 4.77 9.54 7.88l-.46.89ZM233.15 422.65c8.01 7.81 16.01 15.62 24.02 23.43 1.14 1.11 2.28 2.23 3.42 3.34.92.9 2.34-.51 1.41-1.41-8.01-7.81-16.01-15.62-24.02-23.43-1.14-1.11-2.28-2.23-3.42-3.34-.92-.9-2.34.51-1.41 1.41ZM258.66 428.51c8.01 7.81 16.01 15.62 24.02 23.43 1.14 1.11 2.28 2.23 3.42 3.34.92.9 2.34-.51 1.41-1.41-8.01-7.81-16.01-15.62-24.02-23.43-1.14-1.11-2.28-2.23-3.42-3.34-.92-.9-2.34.51-1.41 1.41ZM266.78 412.04c8.01 7.81 16.01 15.62 24.02 23.43 1.14 1.11 2.28 2.23 3.42 3.34.92.9 2.34-.51 1.41-1.41-8.01-7.81-16.01-15.62-24.02-23.43-1.14-1.11-2.28-2.23-3.42-3.34-.92-.9-2.34.51-1.41 1.41ZM282.45 439.44l12.26 12.26 1.74 1.74c.91.91 2.33-.5 1.41-1.41l-12.26-12.26-1.74-1.74c-.91-.91-2.33.5-1.41 1.41ZM280.5 412.04l13.45 13.45 21.55 21.55 4.94 4.94c.91.91 2.33-.5 1.41-1.41l-13.45-13.45-21.55-21.55-4.94-4.94c-.91-.91-2.33.5-1.41 1.41Z" class="cls-1"/><path d="M56.37 193.19h29.32v4.65c0 23.33-2.04 39.07-6.13 47.25-4.03 8.38-11.59 12.57-22.65 12.57s-19.58-4.65-24.44-13.96c-4.81-9.31-7.21-24.95-7.21-46.94 0-25.14 2.64-41.87 7.91-50.19 4.97-7.81 12.59-11.71 22.89-11.71 7.86 0 13.99 1.89 18.39 5.66 4.45 3.83 7.91 10.11 10.4 18.85l-15.05 6.28c-.67-3.15-1.42-5.81-2.25-7.95-.83-2.15-1.73-3.81-2.72-5-1.97-2.43-4.91-3.65-8.84-3.65-5.38 0-9.05 3.31-11.02 9.93-1.97 6.93-2.95 19.37-2.95 37.32s1.01 30.44 3.03 36.85c2.02 6.41 5.82 9.62 11.4 9.62 5.12 0 8.71-2.28 10.78-6.83 2.12-4.86 3.18-12.67 3.18-23.43v-5.66H56.37V193.2ZM137.57 136.4h12.57l25.68 119.78h-15.98l-4.5-23.35H131.6l-4.58 23.35H111.5l26.07-119.78Zm15.44 83.94-3.57-19.08c-2.38-12.98-4.32-26.84-5.82-41.58-.72 7.19-1.66 14.47-2.79 21.84-1.14 7.37-2.48 15.19-4.03 23.47l-2.95 15.36h19.16ZM204.03 136.4h16.14v106.13h26.38v13.65h-42.51V136.4ZM298.8 136.4h12.57l25.68 119.78h-15.98l-4.5-23.35h-23.74l-4.58 23.35h-15.52L298.8 136.4Zm15.44 83.94-3.57-19.08c-2.38-12.98-4.32-26.84-5.82-41.58-.72 7.19-1.66 14.47-2.79 21.84-1.14 7.37-2.48 15.19-4.03 23.47l-2.95 15.36h19.16ZM357.11 136.4h15.67l8.3 23.2c3.26 9.15 5.2 15.85 5.82 20.09.57-2.64 1.2-5.2 1.9-7.68s1.43-4.96 2.21-7.45l1.09-3.49 7.68-24.67h16.29l-22.19 58.96 22.19 60.82h-16.29l-7.91-22.81c-1.6-4.55-2.9-8.64-3.88-12.26-.98-3.62-1.68-6.83-2.09-9.62-.42 3.47-1.11 6.78-2.09 9.93l-2.72 8.53-1.4 4.5-6.9 21.72h-17.07l22.65-60.82-21.26-58.96ZM434.12 136.4h17.07l7.91 26.07c.26.78.52 1.63.78 2.56.26.93.57 1.94.93 3.03 2.95 9.41 4.96 17.33 6.05 23.74.93-6.41 1.71-10.89 2.33-13.42l2.48-10.71.93-4.19 6.67-27.07h16.83l-20.87 68.27v51.51h-16.14v-51.51l-24.98-68.27ZM306.49 329.62h29.32v4.66c0 23.33-2.04 39.07-6.13 47.25-4.03 8.38-11.59 12.57-22.65 12.57s-19.58-4.65-24.44-13.96c-4.81-9.31-7.21-24.95-7.21-46.93 0-25.14 2.64-41.87 7.91-50.19 4.97-7.81 12.59-11.71 22.89-11.71 7.86 0 13.99 1.89 18.39 5.66 4.45 3.83 7.91 10.11 10.4 18.85l-15.05 6.28c-.67-3.15-1.42-5.8-2.25-7.95-.83-2.15-1.73-3.81-2.71-5-1.97-2.43-4.91-3.65-8.84-3.65-5.38 0-9.05 3.31-11.02 9.93-1.97 6.93-2.95 19.37-2.95 37.32s1.01 30.44 3.03 36.85c2.02 6.41 5.82 9.62 11.4 9.62 5.12 0 8.71-2.28 10.78-6.83 2.12-4.86 3.18-12.67 3.18-23.43v-5.66H306.5v-13.65ZM387.69 272.83h12.57l25.68 119.78h-15.98l-4.5-23.35h-23.74l-4.58 23.35h-15.52l26.07-119.78Zm15.44 83.94-3.57-19.08c-2.38-12.98-4.32-26.84-5.82-41.58-.73 7.19-1.66 14.47-2.79 21.84-1.14 7.37-2.48 15.19-4.03 23.47l-2.95 15.36h19.16ZM451.2 272.83h52.75l-36 105.66h34.06v14.12h-55.08l36.31-106.13H451.2v-13.65ZM532.86 272.83h42.9v13.65H549v37.94h23.74v13.65H549v40.88h26.76v13.65h-42.9V272.82Z" class="cls-2"/><path d="M203.92 349.33c-48.6-53.72-84.71-118.71-105.37-188.17-8.36-29.63-16.87-60.33-12.74-91.56 3.82-29.84 23.09-59.63 53.64-67.17 39.41-10.04 76.15 13.01 107.1 34.16C350 106.74 432.02 208.8 475.92 326.1c10.85 29.05 16.96 60.61 14.48 91.73-.9 12.75-3.2 25.74-8.87 37.5-11.32 23.79-36.32 38.56-61.86 41.78-30.96 3.76-61.35-8.61-85.87-26.57 5.27 2.89 10.63 5.57 16.1 7.96 21.34 9.34 45.35 14.5 68.29 9.74 19.55-4.12 38.44-15.59 48-33.22 8.93-16.67 8.89-36.62 7.84-55.15-.8-11.45-2.62-22.79-5.48-33.88C434.5 254.31 354.54 146.67 263.18 74.73c-1.79-1.38-5.06-4.15-6.94-5.48-8.01-6.02-20.38-15.18-28.7-20.65-18.51-12.65-38.16-25.48-60.35-28.88-10.31-1.47-20.83-.92-30.48 2.95-19.69 8.03-31.4 28.84-34.92 49.4-4.92 31.3 3.63 63.23 11.36 94.3 17.75 66.24 49.08 128.48 90.76 182.97Z" class="cls-3" style="opacity:.5"/></svg>
</header>

<div class="stars"></div>

<h1 class="sr-only">{{ title }}</h1>
  <ul class="galaxy">
    {% for movie in movies %}
      {% assign index = forloop.index0 %}
      <li>
        <button class="planet" id="{% if index == 0 %}sun{% elsif index == 1 %}mercury{% elsif index == 2 %}venus{% elsif index == 3 %}earth{% elsif index == 4 %}mars{% elsif index == 5 %}jupiter{% elsif index == 6 %}saturn{% elsif index == 7 %}uranus{% elsif index == 8 %}neptune{% elsif index == 9 %}pluto{% endif %}">
          <span class="movie-title"><h2>{{ movie.title }}</h2></span>
          <span class="movie-title">{{ movie.title }}</span>
          <span class="movie-title">{{ movie.title }}</span>
          <span class="movie-title">{{ movie.title }}</span>
          <span class="movie-title">{{ movie.title }}</span>
        </button>

       <div class="movie-content">
        <div>
          <h2>{{ movie.title }}</h2>
          <p class="metadata">{{ movie.releaseYear }} - {{ movie.genres | join: ', ' }}</p>

          <p class="overview">{{ movie.overview }}</p>

          <a class="space-btn" href="/{{ movie.id }}">View more
            <span class="sr-only">about the movie {{ movie.title }}</span>
          </a>
        </div>
        {% if movie.posterImg %}
          <img id="img" src="{{ movie.posterImg }}" alt="">
        {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
