{% layout "layouts/base.liquid" %}

{% block content %}
<h1 class="sr-only">{{ title }}</h1>
  <ul class="galaxy">
    {% for movie in movies %}
      {% assign index = forloop.index0 %}
      <li>
        <button class="planet" id="{% if index == 0 %}sun{% elsif index == 1 %}mercury{% elsif index == 2 %}venus{% elsif index == 3 %}earth{% elsif index == 4 %}mars{% elsif index == 5 %}jupiter{% elsif index == 6 %}saturn{% elsif index == 7 %}uranus{% elsif index == 8 %}neptune{% elsif index == 9 %}pluto{% endif %}">
          <span class="movie-title"><h2>{{ movie.title }}</h2></span>
          <span class="movie-title">{{ movie.title }}</span>
          <span class="movie-title">{{ movie.title }}</span>
          <span class="movie-title">{{ movie.title }}</span>
          <span class="movie-title">{{ movie.title }}</span>
        </button>

       <div class="movie-content">
        <div>
          <h2>{{ movie.title }}</h2>
          <p class="overview">{{ movie.overview }}</p>
          <p>{{ movie.releaseYear }} - <time> {{ movie.duration }} minutes</time> - {{ movie.genres | join: ', ' }}</p>
          {% comment %} <p>Language: {{ movie.language }}</p> {% endcomment %}

          <button class="space-btn">View more
            <span class="sr-only">about the movie {{ movie.title }}</span>
          </button>
        </div>
        {% if movie.posterImg %}
          <img id="img" src="{{ movie.posterImg }}" alt="">
        {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
